<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Form</title>
    <link rel="stylesheet" href="/static/css/employee.css".css">
  </head>
  <body>
  	<!-- Flash messages section -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
     <form method="POST" action="/register" class="addEmployee">
      <h4 class="addEmployeeHeader">Employee Information</h4>
      <!-- <label>Employee ID</label> -->
      <!-- <input type=text name=employeeID /> -->
     <!-- <br/> -->
      <label>First Name</label>
      <input type="text" name="first_name" />
      <br />
      <label>Last Name</label>
      <input type="text" name="last_name" />
      <br />
      <label>Email</label>
      <input type="text" name="email" />
      <br />
      <!-- <label>Password</label> -->
      <!-- <input type=text name=password /> -->
      <!-- <br /<> -->
      <label>Phone Number</label>
      <input type="text" name="phone_number" />
      <br />
      <label>Date of Birth</label>
      <input type="date" name="date_of_birth" />
      <br />
      <label>NID</label>
      <input type="text" name="NID" />
      <br />
      <label>Date of Employment </label>
      <input type="date" name="employment_date" />
      <br />
      <label>Gender</label>
      <select required name="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
      <br />
      <label>Department</label>
      <input type="text" name="department" />
      <br />
      <label>Position</label>
      <input type="text" name="position" />
      <br />
      <a href="/templates/home.html"><input class="button blueButton" type="submit" value="Add" /></a>  
      <br />
    </form>
  </body>
</html>
