<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/employee.css">
</head>
<body>
  
  <form method="POST" action="/register" class="addEmployee">
    <header>
      <div class="nav__link">
        
          <a href="" >Home</a></li>
          <a href="" >Leave</a></li>
          <a href="" >Dashboard</a></li>
          <a href="">Payslip</a></li>
      </div>
      <h1 class="title">Add employee</h1>
    </header>
    <label for="firstName" class="first-name">First Name</label>
    <input id="firstName" type="text">

    <label for="lastName" class="last-name">Last Name</label>
    <input id="lastName" type="text">

    <label for="Phone">Phone Number</label>
    <input id="job" type="text">

    <label for="Dob">Date of Birth </label>
  <input type="date" class="input" name="Date">

  <label for="NID">NID </label>
  <input type="text" class="input" name="NID">

  <label for="date">Date of Employment</label>
  <input type="date" class="input" name="date">

  <label for="gender">Gender</label>
  <select required name="gender">
    <option>Male</option>
    <option>Female</option>
  </select>


  <label for="dept">Department</label>
  <input type="text" class="input" name="dept">

  <label for="pos">Position</label>
  <input type="text" class="input" name="position">

    <label for="age">Age</label>
    <input id="age" type="text">

    <button>Submit</button>
  </form>

</body>
</html>