{% extends "user.html" %}
{% block content %}
<div class="container">
  <h2>My Payslips</h2>
  <p>Available Payslips</p>
  <div class="row">
    <div class="column">
      <div class="card">
        <h3>Payslip name</h3>
	<a target='_blank' href="/loadpayslip">View</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <h3>Payslip name</h3>
        <a href='#'>View</a>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Payslip name</h3>
        <a href='#'>View</a>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <h3>Payslip name</h3>
        <a href=''>View</a>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
